<div>
  <h3>Last job executions</h3>
  <p-table [value]="jobRuns" [loading]="loading" [paginator]="true" [rows]="4">
    <ng-template pTemplate="header">
        <tr>
            <th>Job Name</th>
            <th>Instance</th>
            <th>Execute ID</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Duration</th>
            <th>Files</th>
            <th>Detail</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-job>
        <tr>
         <td>{{job.name}}</td>
         <td>{{job.id}}</td>
         <td>{{job.name}}</td>
         <td>{{job.name}}</td>
         <td>{{job.name}}</td>
         <td>{{job.name}}</td>
         <td><i class="pi pi-file" style="font-size: 2rem"></i></td>
         <td><i class="pi pi-folder" style="font-size: 2rem"></i></td>
        </tr>
    </ng-template>
</p-table>
<app-job-detail></app-job-detail>
</div>
