<div>
  <div class="grid p-fluid">
    <div [style]="{ display: 'flex', justifyContent: 'end' }">
      <div>
        <button
          pButton
          icon="pi pi-refresh"
          type="button"
          class="p-button-raised p-button-rounded p-button-outlined"
          (click)="handleReload()"
        ></button>
      </div>
    </div>
  </div>
  <h3>Last 10 job executions</h3>

  <p-table [value]="jobRuns" [loading]="loading" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Job Name</th>
        <th>Instance ID</th>
        <th>Start Date</th>
        <th>Duration</th>
        <th>Status</th>
        <th>Files</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-job>
      <tr>
        <td>{{ job.jobName }}</td>
        <td>{{ job.jobInstanceId }}</td>

        <td>{{ formatDate(job.startTime) }}</td>
        <td *ngIf="job.status != 'STARTED'">
          {{ distanceDate(job.endTime, job.startTime) }}
        </td>
        <td *ngIf="job.status == 'STARTED'">Running</td>
        <td>{{ job.status }}</td>
        <td *ngIf="job.status == 'SUCCESS'">
          <a
            target="_blank"
            href="{{ dirRootProject }}/files/output/report{{
              job.jobInstanceId
            }}.csv"
            ><i class="pi pi-file" style="font-size: 2rem"></i
          ></a>
        </td>
        <td *ngIf="job.status != 'SUCCESS'"></td>
      </tr>
    </ng-template>
  </p-table>
  <!-- <app-job-detail [detailId]="detailId" [isShowDialog]="showDetailJob" (close)="onHideDialog($event)"></app-job-detail> -->
</div>
